.body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.content {
  margin-top: 1rem;
  width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.logoDiv {
  width: auto;
  height: auto;
}

.logo {
  width: auto;
  height: 100px;
}

.imgDiv {
  width: auto;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
}

.title {
  color: #e9c46a;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.date,
.count {
  color: #e9c46a;
  text-align: center;
  text-transform: uppercase;
  /* font-family: "Montserrat"; */
}

.info {
  padding-bottom: 1rem;
}

.buttons {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.TranscriptButton {
  border: none;
  outline: none;
  padding: 6px 12px;
  margin-right: 1rem;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2a9d8f;
  color: white;
  margin: 1rem 0;
}

.TranscriptButton:hover {
  cursor: pointer;
}

.button {
  padding: 8px 16px;
  margin-right: 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #e76f51;
  text-transform: uppercase;
  font-family: "Montserrat";
  transition: all 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: #f4a261;
  transform: translateY(-5px);
}

.transcript {
  color: #e5e5e5;
}

@media only screen and (max-width: 780px) {
  .content {
    width: 100%;
  }
}
